.starter-template {
    text-align: center;
}

.clickable{
  cursor: pointer;
}


body {
  padding-top: 50px;
}

.huge {
  font-size: 40px;
}

.panel-info {
  border-color: #46b8da;
}
.panel-info > .panel-heading {
  border-color: #46b8da;
  color: white;
  background-color: #46b8da;
}
.panel-info > a {
  color: #46b8da;
}
.panel-info > a:hover {
  color: #337ab7;
}


.panel-green {
  border-color: #5cb85c;
}
.panel-green > .panel-heading {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}

.panel-red {
  border-color: #d9534f;
}
.panel-red > .panel-heading {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}

.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow > .panel-heading {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}

.panel-blue {
  border-color: #337ab7;
}
.panel-blue > .panel-heading {
  border-color: #337ab7;
  color: white;
  background-color: #337ab7;
}
.panel-blue > a {
  color: #337ab7;
}
.panel-blue > a:hover {
  color: #337ab7;
}

.panel-grey {
  border-color: #A4A4A4;
}
.panel-grey > .panel-heading {
  border-color: #A4A4A4;
  color: white;
  background-color: #A4A4A4;
}
.panel-grey > a {
  color: #A4A4A4;
}
.panel-grey > a:hover {
  color: #A4A4A4;
}

.chat {
  margin: 0;
  padding: 0;
  list-style: none;
}
.chat li {
  margin-bottom: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted #999999;
}
.chat li.left .chat-body {
  margin-left: 60px;
}
.chat li.right .chat-body {
  margin-right: 60px;
}
.chat li .chat-body p {
  margin: 0;
}
.panel .slidedown .glyphicon,
.chat .glyphicon {
  margin-right: 5px;
}
.chat-panel .panel-body {
  height: 350px;
  overflow-y: scroll;
}