<div *ngIf="user | async; let user;">

    <h1>Health - Stats for {{ user.displayName  }}</h1>

    <overall-stats [user]="user"></overall-stats>

    <accordion>
        <accordion-group #group [isOpen]="true">
            <div accordion-heading>
                Food journal
            </div>

            <div>
                <div *ngIf="entries | async; let entries;">
                    <stats-item *ngFor="let entry of entries" [entry]="entry" [user]="user"></stats-item>
                </div>
            </div>
        </accordion-group>
    </accordion>
</div>