<template #myPopover>

    <div class="conainer">
        <div class="row">
            <img class="popover-image" max-height="200" width="272" src="{{ entry.imageThumbnailUrl}}" alt="...">
        </div>
        <div class="row" *ngIf="userVotes && userVotes.length <= 0">
            <div class="popover-col-text">No ratings.</div>
        </div>
        <div class="row" *ngFor="let item of userVotes; let i = index">
            <div class="col-md-8 detail-user" *ngIf="entry && entry.user">
                <img src="{{ item.avatarUrl }}" width="24" height="24" class="profile-image img-circle"> <span class="nowrap">{{ item.displayName }}</span>
            </div>
            <div class="col-md-4">
                <div class="popover-col-text">{{ item.vote }}</div>
            </div>
        </div>
    </div>
</template>

<div class="panel panel-default stats-item color-{{ classNumber }}" *ngIf="entry.user.uid === user.uid">
    <div class="panel-body">
        <div class="media">
            <div class="media-body">
                <div class="conainer">
                    <div class="row">
                        <div class="col-md-2">
                            <img class="media-object img-circle" [popover]="myPopover" popoverTitle="User Ratings" placement="right" triggers="mouseenter:mouseleave"
                                height="42" width="42" src="{{ entry.imageThumbnailUrl}}" alt="..." container="body">
                        </div>
                        <div class="col-md-10">
                            <div class="row">
                                <div class="col-md-8">Evaluated food score: {{entry.foodFacts.healthscore}}<br />Userscore: {{userScore}}<br /><b>Health Score:{{itemScore}}</b></div>
                                <div class="col-md-3">
                                    <button class="btn btn-danger" (click)="delete(entry)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>