<label *ngIf="isMobileDevice()" class="btn btn-default center-block  btn-lg" for="my-file-selector">
        <input id="my-file-selector" ng2FileSelect [uploader]="uploader" type="file" style="display:none;">
        Take Picture
</label>

<label *ngIf="!isMobileDevice()" class="btn btn-default center-block btn-lg" for="my-file-selector">
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        <input id="my-file-selector" ng2FileSelect [uploader]="uploader" type="file" style="display:none;">
        Select Picture
</label>
