<label class="btn btn-default" for="my-file-selector">
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        <input id="my-file-selector" ng2FileSelect [uploader]="uploader"  type="file" style="display:none;">
        Select File
    </label>
<span *ngIf="uploader?.queue?.length > 0" class='label label-info' id="upload-file-info">{{  uploader.queue[0].file.name }}</span>


<button *ngIf="uploader?.queue?.length > 0" class="btn btn-default" (click)="upload(uploader.queue[0])" >UPLOAD</button>


<p>Queue length: {{ uploader?.queue?.length }}</p>