<style> 
        .c1 div.noUi-base {background-color: rgb(255, 0, 0);}   /* red */
        .c2 {background-color: rgb(0, 255, 0);}   /* green */
        .c3 {background-color: rgb(0, 0, 255);}   /* blue */   
        #slider .noUi-base {
    background: yellow;
}
    </style>
<div class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-circle" height="42" width="42" src="{{ entry.imageUrl}}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <div class="conainer">
                    <div class="row">
                        
                        <nouislider id="slider" class="col-md-8 c1" [connect]="true" [min]="0" [max]="100" [(ngModel)]="userValue" (ngModelChange)="sliderChanged($event)"></nouislider>
                        <div class="col-md-3 detail-user" *ngIf="entry && entry.user">
                            <img src="{{ entry.user.avatarUrl }}" width="24" height="24" class="profile-image img-circle"> {{ entry.user.displayName }}
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger" (click)="delete(entry)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>