<popover-content #myPopover title="User Ratings" placement="auto right" [animation]="true" [closeOnMouseOutside]="true" [closeOnClickOutside]="true">
    <div class="conainer" width="400px">
        <div *ngIf="userVotes && userVotes.lenght > 0">Currently no Uservotes.</div>
        <div class="row" *ngFor="let item of userVotes; let i = index">
            <div class="col-md-8 detail-user" *ngIf="entry && entry.user">
                <img src="{{ item.avatarUrl }}" width="24" height="24" class="profile-image img-circle"> <span class="nowrap">{{ item.displayName }}</span>
            </div>
            <div class="col-md-4">{{ item.vote }}</div>
        </div>
    </div>
</popover-content>

<div class="panel panel-default">
    <div class="panel-body">
        <div class="media">
            <div class="media-left">
                <a href="#">
                    <img class="media-object img-circle" [popover]="myPopover" height="42" width="42" src="{{ entry.imageUrl}}" alt="...">
                </a>
            </div>
            <div class="media-body">
                <div class="conainer">
                    <div class="row">
                        <nouislider class="col-md-8" [min]="0" [max]="100" [(ngModel)]="userValue" (ngModelChange)="sliderChanged($event)"></nouislider>
                        <div class="col-md-3 detail-user" *ngIf="entry && entry.user">
                            <img src="{{ entry.user.avatarUrl }}" width="24" height="24" class="profile-image img-circle"> {{ entry.user.displayName }}
                        </div>
                        <div class="col-md-1">
                            <button class="btn btn-danger" (click)="delete(entry)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>